<html>
    <body>
        <div style="margin-left: 20px;">
            <h3>Hello {{ username }},</h3>
            <div style="margin-left: 40px;">
                <p>We've received a request to reset the password for the account {{ user_email }}.</p>
                <p>No changes have been made to your account yet.</p>
                <p>You can reset your password by clicking on the link below:</p>
                <div style="margin-left: 120px">
                    <a href="{{ reset_url }}">Reset Password</a>
                </div>
                <p>If you didn't request a password reset, ignore this email or contact for support</p>
            </div>
            <h4>Thanks,</h4>
            <h4>PD</h4>
        </div>
    </body>
</html>
